In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../data_clean/pokemon.csv")

In [4]:
df.head()

,pokemon_id,name,species_id,height,weight,base_experience,order,sprite
0,1,bulbasaur,1,7,69,64,1,https://raw.githubusercontent.com/PokeAPI/spri...
1,10,caterpie,10,3,29,39,14,https://raw.githubusercontent.com/PokeAPI/spri...
2,100,voltorb,100,5,104,66,158,https://raw.githubusercontent.com/PokeAPI/spri...
3,1000,gholdengo,1000,12,300,275,977,https://raw.githubusercontent.com/PokeAPI/spri...
4,1001,wo-chien,1001,15,742,285,996,https://raw.githubusercontent.com/PokeAPI/spri...

In [5]:
df.tail()

,pokemon_id,name,species_id,height,weight,base_experience,order,sprite
1020,995,iron-thorns,995,16,3030,285,991,https://raw.githubusercontent.com/PokeAPI/spri...
1021,996,frigibax,996,5,170,64,949,https://raw.githubusercontent.com/PokeAPI/spri...
1022,997,arctibax,997,8,300,148,950,https://raw.githubusercontent.com/PokeAPI/spri...
1023,998,baxcalibur,998,21,2100,300,951,https://raw.githubusercontent.com/PokeAPI/spri...
1024,999,gimmighoul,999,3,50,60,976,https://raw.githubusercontent.com/PokeAPI/spri...

In [6]:
df.isna().sum()

pokemon_id         0
name               0
species_id         0
height             0
weight             0
base_experience    0
order              0
sprite             0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pokemon_id       1025 non-null   int64
 1   name             1025 non-null   object
 2   species_id       1025 non-null   int64
 3   height           1025 non-null   int64
 4   weight           1025 non-null   int64
 5   base_experience  1025 non-null   int64
 6   order            1025 non-null   int64
 7   sprite           1025 non-null   object
dtypes: int64(6), object(2)
memory usage: 64.2+ KB

In [8]:
df.describe()

,pokemon_id,species_id,height,weight,base_experience,order
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,513.000000,513.000000,12.116098,669.865366,151.063415,597.840976
std,296.036315,296.036315,12.481673,1212.731138,78.865125,322.102003
min,1.000000,1.000000,1.000000,1.000000,36.000000,-1.000000
25%,257.000000,257.000000,5.000000,85.000000,66.000000,317.000000
50%,513.000000,513.000000,10.000000,280.000000,158.000000,620.000000
75%,769.000000,769.000000,15.000000,700.000000,184.000000,913.000000
max,1025.000000,1025.000000,200.000000,9999.000000,608.000000,1109.000000

In [9]:
df["weight"].max()

np.int64(9999)

In [10]:
df[df["weight"]==9999]

,pokemon_id,name,species_id,height,weight,base_experience,order,sprite
793,790,cosmoem,790,1,9999,140,967,https://raw.githubusercontent.com/PokeAPI/spri...
800,797,celesteela,797,92,9999,257,974,https://raw.githubusercontent.com/PokeAPI/spri...

In [15]:
df[df["height"] >= 100]

,pokemon_id,name,species_id,height,weight,base_experience,order,sprite
273,321,wailord,321,145,3980,175,432,https://raw.githubusercontent.com/PokeAPI/spri...
904,890,eternatus,890,200,9500,345,1079,https://raw.githubusercontent.com/PokeAPI/spri...
1000,977,dondozo,977,120,2200,265,931,https://raw.githubusercontent.com/PokeAPI/spri...